*{
  box-sizing: border-box;
}
body{
  padding: 5%;
  background-color:#25CCF7;
  color: #3B3B98;
  text-align: center;
  line-height: 25px;
}
.hangman{
  font-size:400%;
  margin: 5% auto;
}
.hangman p {
}
.head , .quest,.ans{
  font-size: 200%;
  line-height: 40px;
}
.head{
  margin: 2% auto 1%;
}
.quest{
  margin: 5% auto 1%;
}
.wrong{
  font-size: 150%;
  margin: 2%;
}
.ans span{
  display: inline-block;
  width: 50px;
  margin: 1%;
  color: #3B3B98;
  border: 2px solid #3B3B98;
  border-radius: 8px;
  text-align: center;
  line-height: 200%;
}
.ans span.space{
  background-color: #3B3B98;
  color: #25CCF7;
  border: 2px solid #25CCF7;
}
.mobile{
  display: none;
}
.mobileView input{
  background-color:#25CCF7;
  color: #3B3B98;
  text-align: center;
  border: 2px solid #3B3B98;
  border-radius: 16px;
}
button.mobile{
  margin:2% auto; 
}
@media screen and (max-width:500px) {
  body{
    padding: 25% 2%;
  }
  .hangman{
    font-size: 200%;
    margin: 10%;
  }
  .wrong,.ans,.quest{
    font-size: 100%;
    margin: 5%;
  }
  .ans span{
    width:35px;
  }
  .mobileView{
    text-align:center;
    display: block;
    width: 100%;
    font-size: 100%;
  }
  .mobile{
    display: block;
  }
  .desk{
    display: none;
  }
}
